@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins',sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;

}

.sami {
    background-color: #ffffff;
    height: 1px;
    transition: height 0.5s ease;
}

.logo {
    width: 200px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #171515;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;

}

.nav-bar ul li a:hover {
    background: #171515;
    color: #fefefe;
}

.nav-bar ul li a.active {
    background: #171515;
    color: #fefefe;
}

@media only screen and (max-width:400px) {
    .logo {
        width: 130px;
    }
}

@media only screen and (max-width:1320px) {
    header {
        padding: 0 50px;
    }
}


@media only screen and (max-width:1100px) {
    header {
        padding: 0 30px;
    }

    .nav-bar ul li a {
        padding: 10px 13px;
    }
}

@media only screen and (max-width:900px) {
    .nav-bar ul li a {
        padding: 10px 8px;
    }
}




@media only screen and (max-width:800px) {
    header {
        padding: 0 20px;
    }

    .nav-bar ul li a {
        padding: 10px 5px;
    }
}


@media only screen and (max-width:750px) {
    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #171515;
        margin: 6px 0;
        border-bottom-right-radius: 10px;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #f4f5f8;
        transition: 0.2s;
        overflow: hidden;
        z-index: 100;
    }

    .nav-bar.active {
        height: 100%;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 10px;

    }
}
body
{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    min-height: 100vh;
}

h1{
    margin-top: 50px;
    font-size: 30px;
}

section::before
{
    margin-top: 150px;
    content: ' ';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: linear-gradient(rgb(90, 254, 25),rgb(240, 248, 2));
    clip-path: circle(20% at right 40%);
}
section::after
{
    content: ' ';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at left 40%);
}
.container
{
    position:relative;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;  
    padding: 30px;
}

.container.card
{
    position:relative;
    width:300px;
    height:400px;
    background: #ffffff0d;
    margin:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
    border-radius:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container.card.content
{
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    transition: 0.5s;
}

.container .card:hover .content
{
    transform: translateY(-40px);
    opacity: 1;
}
.imgbx
{
    margin-left: 30px;
    margin: 100px;
    margin-bottom: -5px;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 60%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.60);
}

.container .card .content .imgbx img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

h3
{
    color: black;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

h3 span
{
    margin-top: auto;
    font-size: 24px;
    font-weight: 300;
    text-transform: initial;
}

.container.card.sii
{
    list-style: NONE;
    position: absolute;
    bottom: 50px;
    display: flex;
}

h5
{
    color: black;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

@media screen and (max-width:768px){
    
    h5
    {
        color: black;
        text-transform:uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 13px;
        justify-content: center;
        text-align: center;
        margin: 20px 0 10px;
        line-height: 1.1em;
    }

}

:root {
    --color: #4973ff;
}

.content923 {

    margin: 0 auto;
    padding: 0 20px;
}

footer {
    margin-top: 70px;
    width: 100%;
    position: relative;
    background: #333333;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

footer .content923 {
    position: static;
    width: 100%;
    min-height: 40px;
    padding: 20px 40px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

footer .map {
    position: relative;
    z-index: 1;
    margin: 0 0 10px;
    color: rgba(255, 255, 255, 0.9);
}

footer .social-icon {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.4;
}

footer .social-icon {
    list-style: none;
}

:host .ionicon {
    color: white;
}

footer .menu {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
    list-style: none;
}

footer .menu li {
    list-style: none;
}


footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    margin-left: 10%;
}

footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    flex-wrap: wrap;
    margin-left: 10%;

}


footer .social-icon li a {
    color: rgb(247, 244, 244);
    margin: 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a {
    color: rgb(247, 244, 244);
    margin: 4px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li a:hover {
    transform: translateY(-10px);
}



footer .menu ol li :hover {
    transform: translateX(20px);

}


@media (max-width:1070px) {
    footer {
        flex-direction: column;
        display: flex;
        align-items: center;
        align-content: center;

    }

    footer .social-icon {
        justify-content: center;
        margin: auto;
    }

}

@media (max-width:1070px) {
    footer .menu {
        margin-left: 4%;
    }
}

@media (max-width:900px) {
    footer .menu {
        margin-left: 0%;
        margin-right: 0%;
    }
}


.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
}

.waves::before {
    border-radius: 44%;
    background: rgba(51, 51, 51, 1);
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
    background: rgba(51, 51, 51, 0.5);
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
